@font-face{
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Plus Jakarta Sans';
  src: url(./../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLightItalic.ttf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
